%section.guides
  %h2 Guides
  
  %article.guide
    %h3 
      %a{ href: "/install" } Install
  
  %article.guide
    %h3 
      %a{ href: "/use" } Use

  %article.guide
    %h3 
      %a{ href: "/learn" } Learn
  
  %article.guide
    %h3 
      %a{ href: "/troubleshoot" } Troubleshoot
  