%section.guides
  %h2 Guides
  
  %article.guide
    %h3 
      %a{ href: "/install" } Install
      
    %p You need a webserver like Apache, Nginx or similar
      
  %article.guide
    %h3 
      %a{ href: "/use" } Use
      
    %p You need a text editor

  %article.guide
    %h3 
      %a{ href: "/learn" } Learn
    
    %p Learn how to create sites using FiveTastic
    
  %article.guide
    %h3 
      %a{ href: "/troubleshoot" } Troubleshoot
  