%section.install
  %h2 Install
  
  %article.windows
    %h3 Windows
    %p ...
    
  %article.mac
    %h3 Mac
    %p ...
    
  %article.linux
    %h3 Linux
    %p ...
    
  %article.cloud9
    %h3 Cloud9
    %p ...