-# contents in #head and #body will be appended to head and body tags in index.html, same thing for #title
%div
  #head
    #title FiveTastic
    %link{ type: "text/sass", href: "/sass/reset.sass" }
    %link{ type: "text/sass", href: "/sass/app.sass" }
  #body
    #container
      %header          
        %h1 
          %a{ href: "/" } 
            5
            %span Tastic
          
        %nav
          %a.right{ href: "https://github.com/makevoid/fivetastic/zipball/master" } Download
          %a{ href: "/guides" } Guide
          %a{ href: "http://demo.fivetastic.org" } Demo
          %a{ href: "/sites" } Sites
        .clear
          
      #content
        != yield
  
      %footer
      
