%section.sites
  %h2 Sites made with FiveTastic
  
  %article.site
    %h3 
      %a{ href: "http://riotvan.net" } RiotVan
    %img{ src: "/images/site_riotvan.png" }
  
  %article.site
    %h3 
      %a{ href: "http://radioshout.mkvd.net" } RadioShout
    %img{ src: "/images/site_radioshout.png" }