%section.troubleshoots
  %h2 Troubleshoot
  
  
  %article.troubleshoot
    %h3 You change the file but you can't see the changes in the browser
    %p Check if the browser has cached the page.
    %p In Chrome or Safari you can disable the cache by opening the Inspector (right click on the page and click "Inspect element"), then click on the gear icon on the bottom right corner of the window, check "Disable Cache" and refresh.